@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fit-center {
    @apply absolute left-1/2 m-0 flex min-h-dvh w-full -translate-x-1/2 flex-col items-center justify-start;
  }

  .column-layout {
    @apply flex w-full flex-col items-center justify-center gap-20 mb-20;
  }

  .slider-button {
    @apply absolute top-1/2 z-10 h-8 w-8 bg-slate-200 rounded-full -translate-y-1/2 transform shadow-sm fade-animation;
  }

  .fade-animation {
    @apply transition duration-300 ease-in-out
  }

  .tag-button {
    @apply btn btn-xs sm:btn-sm font-normal rounded-full sm:font-medium capitalize text-slate-600;
  }

  .loadmore-button {
    @apply btn btn-md rounded-xl font-medium capitalize text-slate-600 shadow-sm
  }

  .masonry-layout {
    @apply  w-full max-w-[70.5rem] px-4 columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-8 *:mb-8;
  }

  .masonry-item {
    @apply inline-block w-full break-inside-avoid overflow-hidden rounded-xl fade-animation bg-slate-300 shadow-md hover:brightness-75;
  }

  .responsive-grid {
    @apply px-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 sm:gap-4 md:gap-6
  }
}

@layer utilities {
  .nav-slider {
    display: inline-flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .nav-slider::-webkit-scrollbar {
    display: none;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #645e5e #bfbfbf;
  }

  /* Chrome, Edge, and Safari */
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #a2a0a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5f5d5d;
    border-radius: 10px;
    border: 8px solid #ffffff;
  }
}
