@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fit-center {
    @apply flex flex-col m-0 justify-start items-center w-full absolute left-1/2 -translate-x-1/2 min-h-dvh;
  }

  .column-layout {
    @apply flex flex-col justify-start items-center w-full gap-20
  }

  .masonry-layout {
    @apply w-full  max-w-[70.5rem] columns-4	gap-8 mb-20
  }

  .masonry-item {
    @apply inline-block break-inside-avoid overflow-hidden w-full rounded-xl bg-slate-300 mb-8 shadow-md
  }
}

@layer utilities {
  .nav-slider {
    display: inline-flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .nav-slider::-webkit-scrollbar {
    display: none;
  }
 
}
